<section class="menu-section">
  <h1>OUR MENU</h1>
  <div class="menu-wrapper">
    <div class="menus-div">
      <img src="../../../assets/img/r1.png" alt="" />
      <div class="menu">
        <h2>Tonkasu Ramen</h2>
        <table>
          <tbody>
            <tr>
              <td>chicken</td>
              <td>11.95 €</td>
            </tr>
            <tr>
              <td>beef</td>
              <td>12.95 €</td>
            </tr>
            <tr>
              <td>shrimp</td>
              <td>13.95 €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="menus-div">
      <img src="../../../assets/img/r2.png" alt="" />
      <div class="menu">
        <h2>Spicy Miso Ramen</h2>
        <table>
          <tbody>
            <tr>
              <td>chicken</td>
              <td>11.95 €</td>
            </tr>
            <tr>
              <td>beef</td>
              <td>12.95 €</td>
            </tr>
            <tr>
              <td>shrimp</td>
              <td>13.95 €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><div class="menus-div">
      <img src="../../../assets/img/r3.png" alt="" />
      <div class="menu">
        <h2>Shio RamenTonkasu Ramen</h2>
        <table>
          <tbody>
            <tr>
              <td>chicken</td>
              <td>11.95 €</td>
            </tr>
            <tr>
              <td>beef</td>
              <td>12.95 €</td>
            </tr>
            <tr>
              <td>shrimp</td>
              <td>13.95 €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
