<section>
  <a href="LandingPage">
    <img src="../../../../assets/img/saklogo.png" alt="Logo" />
  </a>

  <div>
    <a href="imprint">IMPRINT</a>
    <a href="../../../../assets/img/fb.png"
      ><img src="../../../../assets/img/fb.png" alt="Facebook"
    /></a>
    <a href="../../../../assets/img/fb.png"
      ><img src="../../../../assets/img/ins.png" alt="Instagram"
    /></a>
    <a href="../../../../assets/img/fb.png"
      ><img src="../../../../assets/img/tripad.png" alt="tripad"
    /></a>
  </div>
</section>
